<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/19302a8616.js"></script>
</body>
<!-- <footer class="footer mt-auto py-3">
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-2 col-md-2 col-12">
			<h4>friendsBlog</h4>
			<p>We provide a platform to connect with people around the world.
			<em>EXPLORE</em></p>
		</div>
		<div class="col-lg-2 col-md-2 col-12">
			<h4>Menu</h4>
			<a href="/">Home</a><br>
			<a href="/">About</a><br>
			<a href="/">Team</a><br>
		</div>
		<div class="col-lg-2 col-md-2 col-12">
			<div class="row">
				<h4>Visit</h4>
				<p>Thapar University
					<br>Patiala,Punjab
				<br>147007</p>
			</div>
			<div class="row">
				<h4>Contact</h4>
				<p>Email: newfriendsBlog@gmail.com
					<br>
					Naman Jain: +91 -----
					<br>
					Leeza: +91 7814797493
				</p>
			</div>
		</div>
		<div class="col-lg-2 col-md-2 col-12">
			<h4>Follow</h4>
			<p>Facebook</p>
			<p>Instagram</p>
			<p>Twitter</p>
		</div>
		<div class="col-lg-2 col-md-2 col-12">
			<h4>Query</h4>
			<form class="query">
				<label>
					Name:
					<input type="Name" name="Name">
				</label>
				<label>Email:
					<input type="Email" name="Email">
				</label>
				<label>Query:
					<textarea name="Message"></textarea>
				</label>
				<button class="btn btn-secondary">Submit</button>
			</form>
		</div>
	</div>
	<p>&copy; friendsBlog. All Rights Reserved.</p>
</div>
</footer> -->
</html>


