<div class="footer">
	<div class="footer-content container">
		<div class="row">
			<div class="col-12 col-lg-3 col-md-3">
		<div class="footer-section about">
			<h4>friendsBlog</h4>
			<p>We provide a platform to connect with people around around the world.
				<br> <em>EXPLORE</em>
			</p>
			<br>
			<h4>Contact</h4>
			<p><i class="fa fa-envelope"></i><a href="mailto:newfriendsblog@gmail.com"> newfriendsblog@gmail.com</a>
			</p>
		</div>
	</div>
		<div class="col-12 col-lg-3 col-md-3">
		<div class="footer-section link text-center">
			<h4>Menu</h4>
			<ul style="list-style: none;">
				<li><a href="/">Home</a></li>
				<li><a href="/">About</a></li>
				<li><a href="/">Team</a></li>
				<li><a href="/">Contact</a></li>
			</ul>
			<h4>Follow</h4>
			<ul style="list-style: none;">
				<li><a href="/">Facebook</a></li>
				<li><a href="/">Instagram</a></li>
				<li><a href="/">Twitter</a></li>
				<li><a href="/">LinkedIn</a></li>
			</ul>
		</div>
		</div>
		<div class="col-12 col-lg-3 col-md-3">
			<h4>Visit</h4>
			<p>Thapar University
				<br>
				Patiala, Punjab
				<br>
				147004
			</p>
			<h4>For Collaborations: </h4>
			<p><a href="mailto: leezaaggarwal1@gmail.com">leezaaggarwal1@gmail.com</a>
			<br>
			<a href="mailto: jainnaman335@gmail.com">jainnaman335@gmail.com</a>
			</p>
		</div>
		<div class="col-12 col-lg-3 col-md-3">
		<div class="footer-section contact-form">
			<h4>Queries:</h4>
			<form>
				<div class="form-group">
				  <label for="exampleInputEmail1">Email address</label>
				  <input type="email" class="form-control" placeholder="john@doe.com">
				</div>
				<div class="form-group">
					<label>Message</label>
					<textarea class="form-control" placeholder="Message"></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			  </form>
		</div>
	</div>
	</div>
</div>
	<div class="footer-bottom">
		<p>&copy; friendsBlog. All Rights Reserved.</p>

	</div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/19302a8616.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>


