<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>friendsBlog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/nav.css">

</head>

<body>
    <div class="ui secondary pointing menu">
        <a class="item" href="/">Home</a>
        <a class="item">News Feed</a>
        <a class="item">Chat room</a>
        <div class="right menu">
            <% if(!loggedUser){ %>
                <a class="ui item" href="/signup">Join us</a>
                <% } else { %>
                    <a class="ui item">Signed In as <%= loggedUser.username %></a>
                    <a class="ui item" href="/logout">Logout</a>
                    <% } %>
        </div>
    </div>