<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>friendsBlog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/nav.css">
</head>

<body>
    <header>
        <a href="/"><img class="logo" src="/images/logo.png" alt="friendsBlog"></a>
        <nav>
            <ul class="nav-area">
                <li><a href="/">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Feed</a></li>
                <li><a href="#">Chat Room</a></li>
                <li><a href="#">Team</a></li>
            </ul>
        </nav>
        <% if(!loggedUser){ %>
            <a href="/signup" class="btn-area">Join us</a>
         <%} else { %> 
            <ul class="nav-area">
            <li><a href="#">Signed as <%- loggedUser.username%></a></li>
            <a href="/logout" class="btn-area">Logout</a>
            </ul>
        <% } %>  
    </header>