<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<link rel="stylesheet" href="/stylesheets/nav.css">
<div class="ui secondary pointing menu">
  <a class="item" href="/">Home</a>
  <a class="item">News Feed</a>
  <a class="item">Chat room</a>
  <div class="right menu">
    <% if(!loggedUser){ %>
      <a class="ui item" href="/signup">Signup</a>
      <a class="ui item" href="/signup">Login</a>
    <% } else { %>
      <a class="ui item">Signed In as <%= loggedUser.username %></a>
      <a class="ui item" href="/logout">Logout</a>
    <% } %>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>