<%- include("./partials/header")%>
<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/stylesheets/sign.css">
<div class ='profle'>
    <div class="pic-container">

    </div>
    <div class="bio-container text-center" style="color: black;">
        <p>woof woof</p>
        <p><%=user.username%></p>
    </div>
</div>


<script type="text/javascript" src="script.js"></script>
<%- include("./partials/footer")%>