<%- include("./partials/header")%>
<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/stylesheets/sign.css">
<div class="cont-verify">
	<div class="form sign-in verify">
        <%- include("./partials/message") %>
        <h2>Reset Password</h2>
        <form action="/reset/<%= token %>" method="POST">
            <label>
                <span>New Password</span>
                <input type="password" name="password" placeholder="New Password">
			</label>
			<label>
                <span>Confirm Password</span>
                <input type="password" name="confirm" placeholder="Confirm Password">
            </label>
              <button class="submit">Update</button>
        </form>
	</div>
	</div>

    
<script type="text/javascript" src="script.js"></script>
<%- include("./partials/footer")%>
