body{
/* background-image: linear-gradient(to bottom, #ff0000, #e91a00, #d32300, #be2900, #a92b01); */
/* background-image: linear-gradient(to left, #cb9cb7, #c69cc1, #be9dcb, #b2a0d5, #a2a3de, #95abe5, #88b3e9, #7cbbeb, #80c8ea, #8cd3e8, #9edee5, #b4e7e4); */
background-image: linear-gradient(to bottom, #ff6d00, #ff8029, #ff9144, #ffa15e, #ffb177);
background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.dot{
    position: absolute;
    left: 0rem;
    width: 50vw;
    height: 50vw;
    border-radius: 100vw;
    background-color: red;
    z-index: -10;
}
.antidot{
position: absolute;
right: 0rem;
width: 40vw;
height: 40vw;
border-radius: 100vw;
background-color: rgb(255, 145, 0);
    z-index: -10;

}
.title{
    display: inline;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
}
.intro p{
    font-family: 'Roboto',
    sans-serif;
font-size: 1rem;
text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
padding: 0;
margin: 0;
}
.intro h1,h2 {
    font-family: 'Roboto',
        sans-serif;
    font-size: 3rem;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
    padding: 0;
    margin: 0;
}
.intro h1{
    color: rgb(255, 255, 255);
}
.intro h2 {
    color: rgb(255, 255, 255);
}
.intro p{
    position: relative;
    top: 2rem;
}


.flex-container a {
    text-decoration: none;
}
.blog-category{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (min-width:600px){
    .blog-category {
        margin-top: 4rem;
        margin-left: 8rem;

    }
    
}
@media only screen and (max-width:600px) {
    .blog-category {
        margin-top: 4rem;
        margin-left: 2rem;

    }
}

.cards{
    padding: 2rem;
}





figure {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 250px;
    height: 340px;
     /* background-image: url(../images/bg-sign.jpg); */
    padding: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    background-size: cover;

}
.b1{
    background-image: url(/images/blog-cards/food.jpg);
}
.b2 {background-image: url(/images/blog-cards/travel.jpg);}
 
.b4 {
     background-image: url(/images/blog-cards/vee.jpg);
 }
 .b5 {
     background-image: url(/images/blog-cards/tech.jpg);
 }
 .b3 {
     background-image: url(/images/blog-cards/lifestyle.jpg);
 }
 .b6 {
     background-image: url(/images/blog-cards/politics.jpg);
 }
 .b7 {
     background-image: url(/images/blog-cards/series.jpg);
 }
 .b8 {
     background-image: url(/images/blog-cards/movies.jpg);
 }
 .b9 {
     background-image: url(/images/blog-cards/cars.jpg);
 }
 .b10 {
     background-image: url(/images/blog-cards/news.jpg);
 }
 .b11 {
     background-image: url(/images/blog-cards/pet.jpg);
 }
 .b13 {
     background-image: url(/images/blog-cards/gaming.jpg);
 }
 .b14 {
     background-image: url(/images/blog-cards/business.jpg);
 }
 .b15 {
     background-image: url(/images/blog-cards/Fashion.jpg);
 }
 .b16 {
     background-image: url(/images/blog-cards/parental.jpg);
 }
 
 .b17 {
     background-image: url(/images/blog-cards/finance.jpg);
 }




figure:before,
figure:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure:before {
    content: '';
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 0;
}

figure:after {
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
}



figure:hover:after {
    content: '';
    background-color: rgba(255, 255, 255, 0.26);
    color: white;
    font-size: 72px;
    z-index: 2;
}

figure .date {
    position: absolute;
    bottom: 0;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

figure .date span {
    color: white;
    line-height: 1;
}

figure .date span:first-child {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 20px;
    font-weight: 900;
}

figure .date span:last-child {
    font-size: 14px;
    font-weight: 400;
}

figure figcaption {
    color: white;
    transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
    z-index: 1;
}

figure figcaption h4 {
    margin: 0 0 5px;
    font-family: 'Source Code Pro', sans-serif;
    font-size: 24px;
    line-height: 1.35;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}



figure figcaption p {
    margin: 0;
    line-height: 1.5;
}
.blog-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    margin-top: 2rem;
}

.blog-btns a {
    
    width: 100%;
    max-width: 240px;
    height: 54px;
    padding: 8px;
    font-size: 0.8rem;
    font-weight: 900;
    color: #ff4655;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
    position: relative;
    margin: 10px 0;
}

.blog-btns a.white:hover>p {
    color: #ece8e1;
}

.blog-btns a.white>p {
    background: #ffa200;
    color: #0f1923;
}

.blog-btns a.white>p span.base {
    border: 1px solid transparent;
}

.blog-btns a.transparent:hover>p {
    color: #ece8e1;
}

.blog-btns a.transparent:hover>p span.text {
    box-shadow: 0 0 0 1px #ece8e1;
}

.blog-btns a.transparent>p {
    background: #0f1923;
    color: #ffa200;
}

.blog-btns a.transparent>p span.base {
    border: 1px solid #ece8e1;
}

.blog-btns a:after,
.blog-btns a:before {
    content: "";
    width: 1px;
    position: absolute;
    height: 8px;
    background: #0f1923;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.blog-btns a:before {
    right: 0;
    left: initial;
}

.blog-btns a p {
    margin: 0;
    height: 54px;
    line-height: 54px;
    box-sizing: border-box;
    z-index: 1;
    left: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
        top: 0;
}

.blog-btns a p span.base {
    box-sizing: border-box;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    left: 0;
    border: 1px solid #ff4655;
}

.blog-btns a p span.base:before {
    content: "";
    width: 2px;
    height: 2px;
    left: -1px;
    top: -1px;
    background: #0f1923;
    position: absolute;
    transition: 0.3s ease-out all;
}

.blog-btns a p span.bg {
    left: -5%;
    position: absolute;
    background: #ff0015;
    width: 0;
    height: 100%;
    z-index: 3;
    transition: 0.3s ease-out all;
    transform: skewX(-10deg);
}

.blog-btns a p span.text {
    z-index: 4;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.blog-btns a p span.text:after {
    content: "";
    width: 4px;
    height: 4px;
    right: 0;
    bottom: 0;
    background: #0f1923;
    position: absolute;
    transition: 0.3s ease-out all;
    z-index: 5;
}

.blog-btns a:hover {
    color: #ece8e1;
}

.blog-btns a:hover span.bg {
    width: 110%;
}

.blog-btns a:hover span.text:after {
    background: #ece8e1;
}