@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BLOG BODY CSS */

body ,.blog-image {
    background-image: linear-gradient(to left top, #c6b0bb, #c7b1c4, #c4b4cf, #bcb8da, #afbde4);
}
.blog-title h1{
    margin-top: 25px;
    text-align: center;
    font-family: 'Satisfy', cursive;
    color: #343a34;
    font-size: 4.0rem;
}

.svg_icon{
    margin-left: 105px;
    height: 22px;
    margin-top: 25px;
    width: 40px;
}

.blog-page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.blog-image {
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 80%;
    height: 70%;
    margin-left: 2%;
    top: 2rem;
    padding: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.blog-image img{
    max-width: 500px;
    max-height: 600px;
}
.util-2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.util-2 p{
    font-size: 40px;
    color: black;
}


.heart{
    margin-top: 2px;
    height: 40px;
    width: 40px;
}
.blog-body{
    margin-left: 25px;
    padding: 10px;
    width: 70%;
    height: 70%;
    top: 30px;
    position: relative;
    text-align: justify;
}

.blog-body .desc{
    padding-bottom: 4rem;
}
.blog-body p,em{
    font-family: 'Roboto', sans-serif;
    color: black;
}
.blog-body span{
    color: black;
    font-weight: 800;
    text-transform: capitalize;
}

.util{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.util-3, .util-4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.svg_delete{
    height: 40px;
    width: 40px;
    margin-top: 10px;
}
/* Media queries */
@media (max-width: 768px){
    .blog-image{
        max-width: 100%;
    }
    .blog-image img{
        max-width: 700px;
    }
    .blog-body{
        width: 85%;
    }
    .blog-page{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
    }
    .blog-body{
        margin-bottom:120px;
    }
}

@media (min-width: 768px){
    .blog-page{
        margin-left: 50px;
    }
}

@media (max-width: 500px){
    .blog-title h1{
        padding-top: 65px;
    }
}




/* COMMENT SECTION CSS */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
.comments-section{
    margin: 50px;
    background-color: #c6b0bb;
    padding: 10px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);   
}

.comment-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comments-section h1{
    color: black;
    font-size: 1.9rem;
    font-family: 'Satisfy', cursive;
    padding-left: 12px;
}

.svg_comments{
    width: 40px;
    height: 40px;
}

.comments-section span{
    font-family: 'Patrick Hand', cursive;
    color: black;
}
.comments-section p{
    font-family: 'Patrick Hand', cursive;
    color: black;
}
.comments-section strong{
    color: black;
}
.well{
    border-radius: 12px;
    border: 1px solid #333;
    padding: 4px;
    margin: 5px;
}

.comment-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}   

.comment-util{
    display: flex;
    flex-direction: column;
}
button{
    float: right;
 }

 .comment-delete{
    width: 20px;
    height: 15px;
 }

 .svg_reply{
    width: 20px;
    height: 15px;
 }

 .comment-form {
    display: flex;
    flex-direction: row;
    margin: auto;
    position: relative;
    justify-content: space-evenly;
}
.comment-form input{
    font-family: 'Baloo Da 2', cursive;
    border: 1px solid #333;
    border-radius: 5px;
    width: 630px;
    padding: 5px;
    height: 100px;
    margin: 0 18px 10px 2px;
    display: inline-block;
    font-size: 14px;
    color: black;
    font-weight: 300;
  }
  .comment-form input:hover{
    color: black;
    background-color:#eee;
  }

  .comment-form button{
    font-family: 'Baloo Da 2', cursive;
    border: 1px solid #333;
    width: 130px;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 30px 15px 10px auto;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    color: black;
    font-weight: 300;
  }

  .comment-form button:hover{
      color: white;
      background-color: black;
  }


  /* Media queries */
  @media (max-width: 830px){
    .comment-form input{
        max-width: 200px;
        display: inline;
    }
}

@media (max-width: 320px){
    .comment-form input{
        max-width: 150px;
        display: inline;
    }
}


