@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-image: linear-gradient(to bottom, #ff001d, #ff5788, #ff9ad4, #f6d2fb, #ffffff);
}
/* .dot{
    background-color: red;
    width: 50rem;
    height: 50rem;
    border-radius: 30rem;
    position: absolute;
    left: 30%;
    z-index: -2;

}
.antidot {
    background-color: rgb(255, 102, 0);
    width: 40rem;
    height: 40rem;
    border-radius: 30rem;
    position: absolute;
    z-index: -2;

} */

.each-blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.each-blog svg{
    height: 2.5rem;
    max-width: 3rem;
}

/* BLOG BODY CSS */

body ,.blog-image {
    color: red;
    background-color: rgba(255, 255, 255, 0.22);
}

.reply{
    width: 80%;
}
.blog-title h1{
    margin-top: 25px;
    text-align: center;
font-family: 'Source Sans Pro',
sans-serif;
color: #343a34;
    font-size: 4.0rem;
}

.svg_icon{
    margin-left: 105px;
    height: 22px;
    margin-top: 25px;
    width: 40px;
}

.blog-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}
.edit-delete{
    display: flex;
    flex-direction:row ;
    max-width: 80%;
    justify-content: space-evenly;
    align-items: baseline;
}
.profile{
    display: flex;
    flex-direction: column;
}
.profile p{
    display: flex;
    flex-direction: row;
}
.edit {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 5rem;
}

.blog-image {
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 80%;
    top: 2rem;
    margin-bottom: 4rem;
    padding: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.blog-image img{
    max-width: 500px;
    max-height: 600px;
}
.util-2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.util-2 p{
    font-size: 40px;
    color: black;
}


.heart{
    margin-top: 2px;
    height: 40px;
    width: 40px;
}
.blog-body{
    margin-left: 25px;
    padding: 10px;
    width: 50%;
    height: 70%;
    top: 30px;
    position: relative;
    text-align: justify;
}

.blog-body .desc{
    padding-bottom: 4rem;
}
.blog-body p,em{
    font-family: 'Roboto', sans-serif;
    color: black;
}
.blog-body span{
    color: black;
    font-weight: 800;
    text-transform: capitalize;
}

.util{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.util-3, .util-4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Media queries */
@media (max-width: 600px){
    .blog-image{
        max-width: 100%;
    }
    .blog-image img{
        max-width: 700px;
    }
    .blog-body{
        width: 85%;
    }
    .blog-page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        
    }
    .blog-body{
        margin-bottom:120px;
    }
    .comments-section svg{
        height: 1.2rem;
        max-width: 2rem;
    }
}

@media (min-width: 600px){
    
}






/* COMMENT SECTION CSS */
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
.comments-section{
    margin: 50px;
    background-color: #c6b0bb;
    padding: 10px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);   
}

.comment-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comments-section h1{
    color: black;
    font-size: 1.9rem;
    font-family: 'Satisfy', cursive;
    padding-left: 12px;
}

.svg_comments{
    width: 40px;
    height: 40px;
}

.comments-section span{
    font-family: 'Patrick Hand', cursive;
    color: black;
}
.comments-section p{
    font-family: 'Patrick Hand', cursive;
    color: black;
}
.comments-section strong{
    color: black;
    font-size: 1.1rem;
    text-transform: capitalize;
    padding-left: 5px;
}
.well{
    border-radius: 12px;
    border: 1px solid #333;
    padding: 4px;
    margin: 5px;
}

.comment-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 12px;
}   

.comment-util{
    display: flex;
    flex-direction: column;
}
button{
    float: right;
 }

 .comment-delete{
    width: 50px;
    height: 25px;
 }

 .svg_reply{
    width: 20px;
    height: 15px;
 }

 .comment-form {
    display: flex;
    flex-direction: row;
    margin: auto;
    position: relative;
    justify-content: space-evenly;
}
.comment-form input, .reply-form input{
    font-family: 'Baloo Da 2', cursive;
    border: 1px solid #333;
    border-radius: 5px;
    width: 630px;
    padding: 5px;
    height: 100px;
    margin: 0 18px 10px 2px;
    display: inline-block;
    font-size: 14px;
    color: black;
    font-weight: 300;
  }
  .comment-form input:hover, .reply-form input:hover{
    color: black;
    background-color:#eee;
  }

  .comment-form button, .reply-form button{
    font-family: 'Baloo Da 2', cursive;
    border: 1px solid #333;
    width: 130px;
    border-radius: 5px;
    padding: 10px 15px;
    margin: 30px 15px 10px auto;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    color: black;
    font-weight: 300;
  }

  .comment-form button:hover, .reply-form button:hover{
      color: white;
      background-color: black;
  }

  .reply-form{
    display: flex;
    flex-direction: row;
}
  
  .reply-form button{
    width: 81px;
    margin: 2px 15px 10px auto;
  }

    .well a{
      text-decoration: none;
      color: black;
  }
  /* Media queries */
  @media (max-width: 830px){
    .comment-form input{
        max-width: 200px;
        display: inline;
    }
}

@media (max-width: 320px){
    .comment-form input{
        max-width: 150px;
        display: inline;
    }
}


.reply-form input {
    width: 100%;
    height: 40px;
}