*{
	margin: 0px;
	padding: 0px;
}
body{
  background-image: url(../images/main_background.jpg);
  background-size: cover;
  font-family: 'Cantora One',
  sans-serif;
}

.book-header {

  position: relative;
  text-align: center;
  padding-top: 40vh;
}


div {
  font-family: 'Cantora One',sans-serif;
}