.navbar{
   z-index: 100;
    position: fixed;
    background-color: rgb(0, 12, 7);
    transition: width 200ms ease;

}
.navbar-nav{
    margin: 0;;
    box-sizing: inherit;
   list-style: none;
   padding: 0;
   margin: 0em;
   display: flex;
   
   flex-direction: column;
   align-items: center; 
   position: absolute;
}
.nav-item{
    width: 100%;

}

.nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    color: rgb(199, 179, 153);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.5) blur(0.2);
    transition: 400ms;
}

.link-text{
    display: none;
    margin: 1rem;
}
.nav-link svg{
    min-width: 2rem;
    margin: 0 1.5rem;
}





.fa-primary{
    color: rgb(186, 191, 201);
}
.fa-secondary {
    color: rgb(106, 111, 119);

}

.logo{
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: 0.3ch;
    font-size: 1.5rem;
}

@media only screen and (max-width:600px){
    
    
    .navbar{
        top: 0em;
        width: 100vw;
        height: 5rem;
        
    }
    .navbar:hover {
        top: 0em;
        width: 100vw;
        height: 10rem;

    }
    .logo{
        display: none;
    }
    .link-text{
        display: none;
    }

    .navbar-nav{
        flex-direction: row;
        justify-items: end;
        height: 5rem;
    }
    .nav-link{
        justify-content: end;
        align-items: stretch;
    }
    div{
        margin: 0em;
    }

    


    


}
.nav-link:hover {
    filter: blur(0) opacity(1) grayscale(0);
    background: rgb(99, 97, 93);
    color: rgb(119, 165, 221);
}
@media only screen and (min-width:600px){
    ul.navbar-nav {
        margin: 0;
        height: 100%;
        box-sizing: inherit;
        list-style: none;
        padding: 0;
        margin: 0em;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
    }
    footer{
         padding-left: 5rem;
    }
.navbar {
    width: 5rem;
    height: 100%;
    top: 0;
    align-items: flex-start;

    justify-content: space-evenly;
    
}
.navbar:hover{
    width: 16rem;
}
.nav-item:last-child {
position: absolute;
bottom: 0;
}


.navbar:hover .link-text {
    display: inline;
}

}


.page-wrapper{
    min-height: 100%;
}

/* footer css starts */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
    color: #d9d9d9;
    box-sizing: border-box;
    font-family: 'Nunito',
    sans-serif;
}

.content1 {
    position: relative;
    margin: 130px auto;
    text-align: center;
    padding: 0 20px;
}

.content1 .text {
    font-size: 2.5rem;
    font-weight: 600;
    color: #202020;
}

.content1 .p {
    font-size: 2.1875rem;
    font-weight: 600;
    color: #202020;
}



footer {
   
    position: relative;
    bottom: 0px;
    width: 100%;
    background: rgb(34, 31, 31);
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
}

.box .content:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #5c5c5c;
}

.box .content:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #ddd4d4;
    top: -10px;
}

.left .content p {
    text-align: justify;
}

.left .content .social {
    margin: 20px 0 0 0;
}

.left .content .social a {
    padding: 0 2px;
}

.left .content .social a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

.left .content .social a span:hover {
    background: #f12020;
}

.center .content .fas {
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.center .content .fas:hover {
    background: #f12020;
}

.center .content .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone {
    margin: 15px 0;
}

.right form .text {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
}

.right form .msg {
    margin-top: 10px;
}

.right form input,
.right form textarea {
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
}

.right form input:focus,
.right form textarea:focus {
    outline-color: #3498db;
}

.right form input {
    height: 35px;
}

.right form .btn {
    margin-top: 10px;
}

.right form .btn button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #575757;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.right form .btn button:hover {
    background: rgb(10, 12, 6);
}

.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
}

.bottom center span {
    color: #ad9898;
}

.bottom center a {
    color: #ccb8b8;
    text-decoration: none;
}

.bottom center a:hover {
    text-decoration: underline;
}
@media screen and (min-width: 600px) {
#demo-2 input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
    margin-left: 1rem;
}
}

@media screen and (max-width: 900px) {
    
    footer {
        position: relative;
        bottom: 0px;
    }

    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-content .box {
        margin: 5px 0;
    }
}

footer svg{
   
        max-width: 2rem;
        
    
}
input {
    outline: none;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}


input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;

    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #66CC75;

    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}


input:-moz-placeholder {
    color: #999;
}

input::-webkit-input-placeholder {
    color: #999;
}

/* Demo 2 */
#demo-2 input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}

#demo-2 input[type=search]:hover {
    background-color: #fff;
}

#demo-2 input[type=search]:focus {
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}

#demo-2 input:-moz-placeholder {
    color: transparent;
}

#demo-2 input::-webkit-input-placeholder {
    color: transparent;
}
body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #ace8f8;

}