@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Merienda:wght@700&family=Satisfy&display=swap');
*{
    text-decoration: none;
}

div.profle {

    min-width: 100vw;
    min-height: 100vh;
background-image: linear-gradient(to bottom, #b9b0b6, #baa9ba, #b7a3c1, #ad9fcb, #9d9dd5, #92a6de, #87afe4, #7cb7e9, #8dc9ea, #a7d8ea, #c6e7ed, #e6f4f4);
background-size: cover;
}

body {
    
font-family: 'Roboto',
sans-serif;
background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #ace8f8;

}
/* PROFILE IMAGE CONTAINER CSS */
div.profle{
    display: flex;
}
.pic-discription{
    font-family: 'Lobster';
    
    text-align: center;
    list-style-type: none;
    position: absolute;
    z-index: 10;
    font-size: 2.2rem;
    
}
.pic-discription ul li {
    list-style: none;
    
}
.pic-discription p{
    font-family: 'Bree Serif',
    serif;
    color: rgb(0, 0, 0);

}
.pic-discription svg {
height: 50px;
}
.bio-container{
    

    color: rgb(0, 0, 0);
    width: 100%;
}

.name-username{
    padding-left: 2rem;
    font-family: 'Lobster';
    text-align: start;
    display: flex;
    max-width: 50rem;
    
    flex-direction: row;
    flex-wrap: wrap;
}
.name-username h1{
    margin-right: 5rem;
    font-family: 'Bree Serif',
    serif;
        color: rgb(236, 236, 236);
    font-size: 3rem;
}
.name-username h2 {
    padding-left: 4rem;
    font-family: 'Bree Serif',
        serif;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    
}
.name-username p{
    
    font-family: 'Roboto',
    sans-serif;

    color: rgb(255, 255, 255);

    padding-bottom: 4rem;
    font-size: 1.2rem;
   
}
.name-username svg{
    width: 2.5rem; margin-right: 1rem;
    
    
}



/* MEDIA QUERIES */
@media only screen and (min-width:600px) {
    div.pic-container {
        margin-left: 5rem;
        max-width: 563px;

    }
    div.profle {
    flex-direction: row;
    }
    div.pic {
        height: 100vh;
        overflow: hidden;
    }

    div.pic img {
          background-size: cover;
          max-height:100vh;
          min-height: 100vh;
          max-width: 563px;
          
    }
    
    .pic-discription {
        width: 563px;
        min-height: 50px;
        list-style-type: none;
        position: absolute;
        bottom: 0;
        z-index: 10;
        background-color: oldlace;
        opacity: .8;

    }
    .pic-discription ul{
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;

    }
    .pic-discription ul li{
        padding-left: 1.2rem;

    }
    .bio-container {
        text-align: center;
        margin-top: 5rem;
        
    }
    .btns-cnt {
width: 50vw;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media only screen and (max-width:600px){
    .btns-cnt {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    div.pic-container {
        
        
        min-height: 100vh;
        overflow: hidden;
    }

    div.profle {
        margin-top: 5rem;
        flex-direction: column;
    }

    div.pic {
        height: auto;
    }

    div.pic img {
        background-size: cover;
        max-width: 100vw;
        
        min-height: 100vh;
    }

    .pic-discription {
        width: 100vw;
        min-height: 50px;
        list-style-type: none;
        position: absolute;
        bottom: 0;
        z-index: 10;
        background-color: oldlace;
        opacity: .7;
    }

    .pic-discription ul {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-direction: row;

    }

    .pic-discription ul li {
        padding-left: 1.2rem;

    }
    
}


.description,
.link {
    font-family: 'Amatic SC', cursive;
    text-align: center;
}

.description {
    font-size: 35px;
}

.btn {
    border: none;
    display: flex;
    text-align: center;
font-family: 'Cookie';
cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    
    font-size: 1rem;
    background-color: #222;
    padding: 10px 40px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Satisfy&display=swap');

.btn span {
    position: relative;
    z-index: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #78c7d2;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.link {
    font-size: 20px;
    margin-top: 30px;
}

.link a {
    color: #000;
    font-size: 25px;
}

.bttns-container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btns-cnt{
    
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.btns-cnt  svg{
height: 1.5rem;
margin: 0;
padding-right: 0.5rem;

}


.show-btns{
    display: flex;
    flex-direction: row;
}

.bttns-container p{
    margin: 0;
    padding: 0;
    color: #fff;
}

