<%- include("../partials/header")%>
<link rel="stylesheet" href="/stylesheets/blog/add.css">
<div class="page_logo"><svg width="120px"  viewBox="0 0 230 90" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_d)">
            <path
                d="M6.168 47.136C7.064 41.12 7.74667 35.3387 8.216 29.792C8.728 24.2453 8.984 19.2107 8.984 14.688C8.984 10.1653 8.68533 7.2 8.088 5.792C11.6293 6.98666 13.848 8.864 14.744 11.424C18.072 9.58933 21.4853 8.672 24.984 8.672C28.4827 8.672 31.5333 9.632 34.136 11.552C36.7813 13.472 38.0827 16.0533 38.04 19.296C38.04 22.5387 36.9947 25.3547 34.904 27.744C32.8133 30.1333 29.848 31.968 26.008 33.248C28.9947 33.888 31.704 35.3387 34.136 37.6C36.568 39.8187 37.784 42.5707 37.784 45.856C37.784 50.8907 36.0133 54.7733 32.472 57.504C28.9733 60.192 24.5573 61.536 19.224 61.536C13.9333 61.536 9.112 59.8933 4.76 56.608C4.80267 56.2667 5.272 53.1093 6.168 47.136ZM31.512 21.28C31.512 18.8907 30.744 16.992 29.208 15.584C27.672 14.1333 25.5813 13.408 22.936 13.408C20.2907 13.408 17.816 13.9627 15.512 15.072C15.512 17.76 14.936 24.48 13.784 35.232C12.6747 45.9413 12.12 52.8107 12.12 55.84C14.296 56.608 16.4293 56.992 18.52 56.992C22.1893 56.992 25.2187 55.9467 27.608 53.856C29.9973 51.7227 31.192 48.864 31.192 45.28C31.192 42.592 29.9547 40.2453 27.48 38.24C25.048 36.192 21.656 35.0827 17.304 34.912L17.112 32.608C21.6347 32.0533 25.1547 30.624 27.672 28.32C30.232 25.9733 31.512 23.6267 31.512 21.28ZM47.6855 55.328C47.6428 54.6453 47.6215 53.5573 47.6215 52.064C47.6215 50.528 48.3255 44.0427 49.7335 32.608C51.1842 21.1733 51.9095 13.3227 51.9095 9.056C51.9095 4.78933 51.6535 2.016 51.1415 0.735996C53.5308 1.632 55.2162 2.95466 56.1975 4.704C57.1788 6.45333 57.6695 8.56533 57.6695 11.04C57.6695 13.5147 57.0508 19.9147 55.8135 30.24C54.5762 40.5653 53.9575 48.8853 53.9575 55.2C53.9575 56.5653 54.0428 58.4853 54.2135 60.96C51.8668 60.7893 50.2028 60.2347 49.2215 59.296C48.4108 58.528 47.8988 57.2053 47.6855 55.328ZM90.6185 39.008C90.6185 34.8267 90.0852 31.84 89.0185 30.048C87.9945 28.2133 86.5012 27.296 84.5385 27.296C82.6185 27.296 80.6772 28.256 78.7145 30.176C76.7518 32.0533 75.1945 34.4 74.0425 37.216C72.9332 39.9893 72.3785 42.8907 72.3785 45.92C72.3785 48.9067 72.9545 51.5093 74.1065 53.728C75.2585 55.904 77.0078 56.992 79.3545 56.992C82.6825 56.992 85.3918 55.0293 87.4825 51.104C89.5732 47.1787 90.6185 43.1467 90.6185 39.008ZM72.0585 36.512C73.6798 31.904 75.8558 28.5547 78.5865 26.464C81.3598 24.3307 84.1545 23.264 86.9705 23.264C89.8292 23.264 92.1972 24.5227 94.0745 27.04C95.9518 29.5147 96.8905 32.8853 96.8905 37.152C96.8905 41.8453 95.9945 46.1973 94.2025 50.208C92.1972 54.6453 89.2958 57.7387 85.4985 59.488C83.4505 60.4693 81.1892 60.96 78.7145 60.96C75.2585 60.96 72.2292 59.5307 69.6265 56.672C67.0238 53.7707 65.7225 49.6533 65.7225 44.32C65.7225 38.944 66.8745 34.2933 69.1785 30.368C71.4825 26.4427 74.6185 23.712 78.5865 22.176C79.4398 22.176 79.8665 22.6027 79.8665 23.456C75.6425 26.2293 73.0398 30.5813 72.0585 36.512ZM125.319 23.712C126.94 23.712 127.836 24.3307 128.007 25.568C123.313 26.5493 119.409 29.1947 116.295 33.504C113.18 37.7707 111.623 42.08 111.623 46.432C111.623 48.8213 112.071 50.8053 112.967 52.384C113.905 53.9627 115.356 54.752 117.319 54.752C119.324 54.752 121.201 53.6853 122.951 51.552C126.065 47.7547 128.177 41.7813 129.287 33.632C129.969 28.384 130.759 24.9707 131.655 23.392C132.849 21.4293 134.321 20.128 136.071 19.488C135.473 24.0107 135.175 27.424 135.175 29.728C135.175 46.7947 133.425 59.616 129.927 68.192C126.428 76.768 120.732 81.056 112.839 81.056C109.724 81.056 107.271 80.288 105.479 78.752C103.729 77.2587 102.855 75.552 102.855 73.632C102.855 71.712 103.367 70.0693 104.391 68.704C105.457 67.3387 106.844 66.656 108.551 66.656C109.489 66.656 110.471 66.8693 111.495 67.296C110.812 67.7653 110.236 68.4907 109.767 69.472C109.297 70.4533 109.062 71.5413 109.062 72.736C109.062 73.9733 109.511 74.9973 110.407 75.808C111.345 76.6613 112.625 77.088 114.247 77.088C115.868 77.088 117.404 76.5973 118.855 75.616C120.305 74.6773 121.692 73.184 123.015 71.136C125.831 66.6987 127.367 59.0827 127.623 48.288C126.428 51.9573 124.572 54.9013 122.055 57.12C119.58 59.3387 117.063 60.448 114.503 60.448C111.217 60.448 108.721 59.2107 107.015 56.736C105.351 54.2187 104.519 51.0187 104.519 47.136C104.519 41.7173 106.311 36.5547 109.895 31.648C111.601 29.3013 113.799 27.4027 116.487 25.952C119.175 24.4587 122.119 23.712 125.319 23.712ZM142.188 60.1875L142.062 57.125C145.896 56.5 148.271 56.1667 149.188 56.125C149.229 54.7083 149.25 52.5833 149.25 49.75C149.25 46 149.167 40.6042 149 33.5625C148.833 26.4792 148.729 21.7917 148.688 19.5L142.375 19.1875L141.938 15.5625C143.646 15.6042 146.292 15.625 149.875 15.625C153.542 15.625 156.271 15.6458 158.062 15.6875L158.25 18.8125C157.542 19.1042 156.542 19.2917 155.25 19.375C153.958 19.4167 153.146 19.4583 152.812 19.5C152.938 20.6667 153 23.6042 153 28.3125C153.042 33.0208 153.062 38.2292 153.062 43.9375C153.062 49.6458 153.104 53.7083 153.188 56.125C153.854 56.25 155.125 56.3958 157 56.5625C158.875 56.7292 160.042 56.8542 160.5 56.9375L160.375 60.1875C159.125 60.1458 157.146 60.125 154.438 60.125C153.021 60.125 150.917 60.125 148.125 60.125C145.333 60.1667 143.354 60.1875 142.188 60.1875ZM164.312 58.25L165.125 15H168.5L188.938 53.8125V48.875C188.938 36.2917 189.167 24.9792 189.625 14.9375L193.188 15.625C193.646 24.6667 194.021 39.5625 194.312 60.3125C193.438 60.6875 192.521 60.875 191.562 60.875C190.146 60.875 188.667 60.4583 187.125 59.625C184.583 55.7083 181.417 49.9792 177.625 42.4375C173.875 34.8958 171.208 29.7292 169.625 26.9375C169.667 29.7708 169.688 34.9375 169.688 42.4375C169.729 49.9375 169.812 55.625 169.938 59.5C169.562 60.7917 168.833 61.4375 167.75 61.4375C167 61.4375 166.271 61.125 165.562 60.5C164.896 59.875 164.479 59.125 164.312 58.25ZM225.625 60.4375H220.125C218.75 59.1458 217.292 57.6667 215.75 56C214.208 54.3333 212.938 52.9167 211.938 51.75C210.979 50.5833 209.625 48.9375 207.875 46.8125C206.167 44.6458 204.958 43.125 204.25 42.25L205.062 59.125C204.688 60.375 203.958 61 202.875 61C202.125 61 201.396 60.6875 200.688 60.0625C200.021 59.4792 199.604 58.75 199.438 57.875C199.562 54.5417 199.667 47.625 199.75 37.125C199.833 26.625 200.021 18.875 200.312 13.875L203.125 14.5C203.25 16.5833 203.396 20.2083 203.562 25.375C203.729 30.5 203.854 33.9167 203.938 35.625C204.646 34.75 205.958 33.1458 207.875 30.8125C209.833 28.4375 211.167 26.8333 211.875 26C212.625 25.125 213.688 23.875 215.062 22.25C216.479 20.625 217.771 19.2083 218.938 18C220.104 16.7917 221.354 15.5625 222.688 14.3125L224.562 17.375C223.062 19.875 217.25 26.9583 207.125 38.625C208.583 40.1667 211.583 43.75 216.125 49.375C220.708 55 223.875 58.6875 225.625 60.4375Z"
                fill="white" />
        </g>
        <defs>
            <filter id="filter0_d" x="0.759995" y="0.735992" width="228.865" height="88.32" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix" />
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                <feOffset dy="4" />
                <feGaussianBlur stdDeviation="2" />
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0" />
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
            </filter>
        </defs>
    </svg>
    

</div>

<div class="container">
    <%- include("../partials/message")%>
</div>
<h1>Add new blogpost</h1>
<div class="blog-form">
<form action="/blog/addpost" method="POST" enctype="multipart/form-data">
        <label>Blog title:</label>
            <input type="text" name="title" placeholder="Title" id="title">
        <label>Description:</label>
            <textarea type="text" rows = "8" name="desc" placeholder="Description" id="desc"></textarea>
        <label>Image:</label>
            <input type="file" name="blog-image" placeholder="Title" id="blog-image">
        <label>Blog category:</label>
        <select id="category" name="category" onfocus='this.size=5;' onblur='this.size=1;'onchange='this.size=1;'>
            <option value="Life" >Life</option>
            <option value= "Food">Food</option>
            <option value= "Adventure">Adventure</option>
            <option value= "Travel">Travel</option>
            <option value= "Lifestyle">Lifestyle</option>
            <option value= "Sports">Sports</option>
            <option value= "Tech">Tech</option>
            <option value= "Political">Political</option>
            <option value= "Series">Series</option>
            <option value= "Movie">Movie</option>
            <option value= "Car">Car</option>
            <option value= "News">News</option>
            <option value= "Gaming">Gaming</option>
            <option value= "Pet">Pet</option>
            <option value= "fashion">Fashion</option>
            <option value= "Business">Business</option>
            <option value= "Parenting">Parenting</option>
            <option value= "Finance">Finance</option>

        </select>
    <button type="submit">Add post</button>

</form>
</div>




<%- include("../partials/footer")%>


