<%- include("../partials/header")%>
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Indie+Flower&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/stylesheets/blog/blogentry.css">
<div class="container p-3 text-center">
    <%- include("../partials/message")%>
    <a class="btn btn-primary" href="/blog/addpost">Add post</a>
</div>
    <div class="intro">
        <div class="title">
        <h1>Welcome to</h1>
        <h2> FriendsBlog</h2>
        </div>
        <p>Checkout Blogs by our authors in different categories</p>
    </div>

<div class="blog-category">
    <div class="cards">
    <div class ="flex-container">
        <a href="#">
            <figure class="b1">
                <div class="date"><span class="card-date-day">1</span></div>
                <figcaption>
                    <h4> <span>Food</span></h4>
                </figcaption>
            </figure>
        </a>
    </div>
</div>
 <div class="cards">
     <div class="flex-container">
         <a href="#">
            <figure class="b2">
                 <div class="date"><span class="card-date-day">1</span></div>
                 <figcaption>
                     <h4> <span>Travel</span></h4>
                 </figcaption>
             </figure>
         </a>
     </div>
 </div>
  <div class="cards">
      <div class="flex-container">
          <a href="#">
            <figure class="b3">
                  <div class="date"><span class="card-date-day">1</span></div>
                  <figcaption>
                      <h4> <span>Lifestyle</span></h4>
                  </figcaption>
              </figure>
          </a>
      </div>
  </div>
   <div class="cards">
       <div class="flex-container">
           <a href="#">
            <figure class="b4">
                   <div class="date"><span class="card-date-day">1</span></div>
                   <figcaption>
                       <h4> <span>Sports</span></h4>
                   </figcaption>
               </figure>
           </a>
       </div>
   </div>
    <div class="cards">
        <div class="flex-container">
            <a href="#">
            <figure class="b5">
                    <div class="date"><span class="card-date-day">1</span></div>
                    <figcaption>
                        <h4> <span>Tech</span></h4>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
     <div class="cards">
         <div class="flex-container">
             <a href="#">
            <figure class="b6">
                     <div class="date"><span class="card-date-day">1</span></div>
                     <figcaption>
                         <h4> <span>Political</span></h4>
                     </figcaption>
                 </figure>
             </a>
         </div>
     </div>
      <div class="cards">
          <div class="flex-container">
              <a href="#">
            <figure class="b7">
                      <div class="date"><span class="card-date-day">1</span></div>
                      <figcaption>
                          <h4> <span>Series </span></h4>
                      </figcaption>
                  </figure>
              </a>
          </div>
      </div>
       <div class="cards">
           <div class="flex-container">
               <a href="#">
            <figure class="b8">
                       <div class="date"><span class="card-date-day">1</span></div>
                       <figcaption>
                           <h4> <span>Movie </span></h4>
                       </figcaption>
                   </figure>
               </a>
           </div>
       </div>
        <div class="cards">
            <div class="flex-container">
                <a href="#">
            <figure class="b9">
                        <div class="date"><span class="card-date-day">1</span></div>
                        <figcaption>
                            <h4> <span>Car </span></h4>
                        </figcaption>
                    </figure>
                </a>
            </div>
        </div>
         <div class="cards">
             <div class="flex-container">
                 <a href="#">
            <figure class="b10">
                         <div class="date"><span class="card-date-day">1</span></div>
                         <figcaption>
                             <h4> <span>News </span></h4>
                         </figcaption>
                     </figure>
                 </a>
             </div>
         </div>
          <div class="cards">
              <div class="flex-container">
                  <a href="#">
            <figure class="b11">
                          <div class="date"><span class="card-date-day">1</span></div>
                          <figcaption>
                              <h4> <span>Pet </span></h4>
                          </figcaption>
                      </figure>
                  </a>
              </div>
          </div>
        
          <div class="cards">
              <div class="flex-container">
                  <a href="#">
                      <figure class="b13">
                          <div class="date"><span class="card-date-day">1</span></div>
                          <figcaption>
                              <h4> <span>Gaming </span></h4>
                          </figcaption>
                      </figure>
                  </a>
              </div>
          </div>
          <div class="cards">
              <div class="flex-container">
                  <a href="#">
                      <figure class="b14">
                          <div class="date"><span class="card-date-day">1</span></div>
                          <figcaption>
                              <h4> <span>Business </span></h4>
                          </figcaption>
                      </figure>
                  </a>
              </div>
          </div>
          <div class="cards">
              <div class="flex-container">
                  <a href="#">
                      <figure class="b15">
                          <div class="date"><span class="card-date-day">1</span></div>
                          <figcaption>
                              <h4> <span>Fashion </span></h4>
                          </figcaption>
                      </figure>
                  </a>
              </div>
          </div>
          <div class="cards">
              <div class="flex-container">
                  <a href="#">
                      <figure class="b16">
                          <div class="date"><span class="card-date-day">1</span></div>
                          <figcaption>
                              <h4> <span>Parenting </span></h4>
                          </figcaption>
                      </figure>
                  </a>
              </div>
          </div>
          <div class="cards">
              <div class="flex-container">
                  <a href="#">
                      <figure class="b17">
                          <div class="date"><span class="card-date-day">1</span></div>
                          <figcaption>
                              <h4> <span>Finance </span></h4>
                          </figcaption>
                      </figure>
                  </a>
              </div>
          </div>

    
</div>


<%- include("../partials/footer")%>