<%- include("../partials/header")%>
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Indie+Flower&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/stylesheets/blog/blogentry.css">

<div class="container pt-2 text-center">
    <%- include("../partials/message")%>
</div>

<!-- -->
<!--  -->
    <div class="intro">
        <div class="title">
            <h1>Welcome to</h1>
            <h2> BlogINK</h2>
        </div>
        <p>View all blogs by categories</p>
        <div class="blog-btns">
            <%if(loggedUser){%>
                <a class="white" href="/blog/addpost">
                    <p><span class="bg"></span><span class="base"></span><span class="text">Add Blogs</span></p>
                </a>
            
            <%}%>
            <a class="white" href="/blog">
                <p><span class="bg"></span><span class="base"></span><span class="text">All Blogs</span></p>
            </a>    
</div>
    </div>

<div class="blog-category">
    <div class="cards">
    <div class ="flex-container">
        <a href="/blogs/Food">
            <figure class="b1">
                <figcaption>
                    <h4> <span>Food</span></h4>
                </figcaption>
            </figure>
        </a>
    </div>
</div>
 <div class="cards">
     <div class="flex-container">
         <a href="/blogs/Travel">
            <figure class="b2">
                 
                 <figcaption>
                     <h4> <span>Travel</span></h4>
                 </figcaption>
             </figure>
         </a>
     </div>
 </div>
  <div class="cards">
      <div class="flex-container">
          <a href="/blogs/Lifestyle">
            <figure class="b3">
                  
                  <figcaption>
                      <h4> <span>Lifestyle</span></h4>
                  </figcaption>
              </figure>
          </a>
      </div>
  </div>
   <div class="cards">
       <div class="flex-container">
           <a href="/blogs/Sports">
            <figure class="b4">
                   
                   <figcaption>
                       <h4> <span>Sports</span></h4>
                   </figcaption>
               </figure>
           </a>
       </div>
   </div>
    <div class="cards">
        <div class="flex-container">
            <a href="/blogs/Tech">
            <figure class="b5">
                    
                    <figcaption>
                        <h4> <span>Tech</span></h4>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
     <div class="cards">
         <div class="flex-container">
             <a href="/blogs/Political">
            <figure class="b6">
                     
                     <figcaption>
                         <h4> <span>Political</span></h4>
                     </figcaption>
                 </figure>
             </a>
         </div>
     </div>
      <div class="cards">
          <div class="flex-container">
              <a href="/blogs/Series">
            <figure class="b7">
                      
                      <figcaption>
                          <h4> <span>Series </span></h4>
                      </figcaption>
                  </figure>
              </a>
          </div>
      </div>
       <div class="cards">
           <div class="flex-container">
               <a href="/blogs/Movie">
            <figure class="b8">
                      
                       <figcaption>
                           <h4> <span>Movie </span></h4>
                       </figcaption>
                   </figure>
               </a>
           </div>
       </div>
        <div class="cards">
            <div class="flex-container">
                <a href="/blogs/Car">
            <figure class="b9">
                        
                        <figcaption>
                            <h4> <span>Car </span></h4>
                        </figcaption>
                    </figure>
                </a>
            </div>
        </div>
         <div class="cards">
             <div class="flex-container">
                 <a href="/blogs/News">
            <figure class="b10">
                         
                         <figcaption>
                             <h4> <span>News </span></h4>
                         </figcaption>
                     </figure>
                 </a>
             </div>
         </div>
          <div class="cards">
              <div class="flex-container">
                  <a href="/blogs/Pet">
            <figure class="b11">
                          
                          <figcaption>
                              <h4> <span>Pet </span></h4>
                          </figcaption>
                      </figure>
                  </a>
              </div>
          </div>
        
          <div class="cards">
              <div class="flex-container">
                  <a href="/blogs/Gaming">
                      <figure class="b13">
                          
                          <figcaption>
                              <h4> <span>Gaming </span></h4>
                          </figcaption>
                      </figure>
                  </a>
              </div>
          </div>
          <div class="cards">
              <div class="flex-container">
                  <a href="/blogs/Business">
                      <figure class="b14">
                          
                          <figcaption>
                              <h4> <span>Business </span></h4>
                          </figcaption>
                      </figure>
                  </a>
              </div>
          </div>
          <div class="cards">
              <div class="flex-container">
                  <a href="/blogs/Fashion">
                      <figure class="b15">
                          
                          <figcaption>
                              <h4> <span>Fashion </span></h4>
                          </figcaption>
                      </figure>
                  </a>
              </div>
          </div>
          <div class="cards">
              <div class="flex-container">
                  <a href="/blogs/Parenting">
                      <figure class="b16">
                          
                        
                          <figcaption>
                              <h4> <span>Parenting </span></h4>
                          </figcaption>
                      </figure>
                  </a>
              </div>
          </div>
          <div class="cards">
              <div class="flex-container">
                  <a href="/blogs/Finance">
                      <figure class="b17">
                          
                          <figcaption>
                              <h4> <span>Finance </span></h4>
                          </figcaption>
                      </figure>
                  </a>
              </div>
          </div>

    
</div>


<%- include("../partials/footer")%>